body {
    margin: 0;
    background-image: linear-gradient(to right, #ece9e6, #ffffff);
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

nav > a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-top: 15vh;
    text-align: center;
    color: #ff2137;
    font-weight: normal;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
    text-shadow: 2px 1px 1px slategrey;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address + p {
    color: #ff2137;
}
